/*$background: #525252;
$header-color: #414141;
$footer-color: #313131;
$font-white: #FFFFFF;
$pink-color: #CA3E47;
*/

$background: #eeeeee;
$header-color: #222831;
$footer-color: #222831;
$font-white: #eeeeee;
$light-color: #00adb5;
$dark-color: #008e96;
$dark-font: #393e46;
$error: #CD2D2D;
$hovered-dark: #181c22;

