@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap');

* {
    font-family: 'Poppins', 'sans-serif';
}

$background: #eeeeee;
$header-color: #222831;
$footer-color: #222831;
$font-white: #eeeeee;
$light-color: #00adb5;
$dark-color: #008e96;
$dark-font: #393e46;
$error: #CD2D2D;
$hovered-dark: #181c22;

