@import 'base.module.scss';

.footer-section {
  background-color: $background;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $font-white;
  height: 75px;
  color: $footer-color;
  border-top: 2px solid $footer-color;
  margin-top: 1rem;

  .footnote {
    margin-top: 1.5rem;
  }
}