@import './base.module.scss';

.header {
    background: $header-color;
    margin: 0 auto;
    height: 50px;
    img {
        margin-bottom: 0;
    }

    .content {
        //padding: 1rem;
        justify-content: start;
    }
}