@import './base.module.scss';

.headers {
    color: $dark-font;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0;
    font-family: 'Poppins', 'sans serif';
}

.wrapper {
    display: flex;
    justify-content: center;

    .todaySection {
        width: 100%;
        margin: 0.5rem;
        display: grid;
        padding: 10px;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-template-areas:
        "icon day temp"
        "icon desc temp"
        ;
        margin-top: 1rem;
        border-radius: 0.25rem;
        background-color: $header-color;
        //box-shadow: 4px 4px $light-color;
        color: $font-white;
        transition: transform .2s ease-in-out;

        .iconArea {
            grid-area: icon;
            .svg {
                height: 125px;
                width: 125px;
                animation: enhance 5s ease infinite;
            }
        }

        .dayArea {
            grid-area: day;
        }

        .tempArea {
            grid-area: temp;
            flex-direction: column;
        }

        .descArea {
            grid-area: desc;
            font-size: 1.5rem;
            padding: 0;
        }

        img, p {
            margin-bottom: 0;
        }

        > div {
            padding: 10px 10px;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
        }

        > :nth-child(0) {
            max-width: 10px;
        }

    }
    
    .todaySection:hover {
        transform: scale(1.01);
        background-color: $hovered-dark;
    }
}

@keyframes enhance {
    0%  
        {transform: scale(1);}
    50%
        {transform: scale(1.1);}
    100% {transform: scale(1);}
}

.fahrenheit {
    padding: 10px;
    font-size: 2rem;
    color: $light-color;
    text-shadow: 3px 3px $dark-font;
}
.degrees {
    padding: 5px;
    font-size: 1.5rem;
}

.container {
    display: flex;
    min-height: 100%; 
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    color: $font-white;
    align-items: center;

    p {
        white-space: nowrap;
    }

    img {
        padding: 0;
        margin: 0;
        height: 100px;
        width: 100px;
    }

    .date {
        font-size: 1rem;
    }

    .section {
        text-align: center;
        padding: 20px;
        margin: 1%;
        width: 18%;
        border-radius: 0.25rem;
        background-color: $header-color;
        //box-shadow: 4px 4px $light-color;
        transition: transform .2s ease-in-out;
    }

    .section:hover {
        transform: scale(1.02);
        background-color: $hovered-dark;
    }
}

@media screen and (max-width:1024px)
{
    .wrapper {
        .todaySection{
            .descArea {
                font-size: 1.1rem;
            }
        }
    }

    .container {
        display: flex;
        .section {
            width: 31%;
            margin: 1%;
        }
    }

    .fahrenheit {
        font-size: 1.5rem;
    }
    .degrees {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 600px)
{
    .container {
        .section {
            width: 48%;
        }
    }
}

@media screen and (max-width: 420px)
{
    .container {
        p {
            font-size: 0.75rem;
        }
        .fahrenheit {
            font-size: 1.5rem;
        }
        .degrees {
            font-size: 1.2rem;
        }
    }
}
